<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Login - Restaurants</h1>
            <%if (typeof msg !== 'undefined') { %>
                <div class="alert alert-<%=msg.type%>" role="alert"><%=msg.text%></div>
            <% } %>
            <form class="form-width" action="/login" method="post">
                <div class="form-group">
                    <label for="useridInput">User ID</label>
                    <input required="required" type="text" class="form-control" id="useridInput" name="userid" placeholder="Enter user_id">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password"
                           placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                New to Restaurants?<a href="/register" class="btn btn-link">Sign up</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>
